body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./Assets/login-bg.jpg");
  background-attachment: fixed;
  background-size: auto;
}

img {
  margin: 20px;
}

h1,
p,
span {
  color: white;
  text-align: center;
}

span{
    font-size: 10px;
}
p{
    font-size: 14px;
}

.main-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header-container{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}
.welcome-section{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-items: center;
}


.login-container {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
  margin: auto;
  width: 28vw;
  /* height: 38vh; */
  background-color: white;
  padding: 30px;
  border-radius: 3%;
}

.footer-container{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 7;
  grid-row-end: -1;
  margin: auto;
  justify-items: end;
}

form {
  display: flex;
  flex-direction: column;
}

.line {
  border-top: 1px solid black;
}

label {
  padding: 5px 0;
}

input {
  padding: 8px;
  margin: 0 3px 0 0;
}

.submit-btn {
  width: 80px;
  padding: 8px 12px;
  margin-top: 8px;
  background-color: royalblue;
  color: white;
  border-style: none;
  border-radius: 5px;
}

.submit-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .welcome-section{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-items: center;
  }
  .login-container {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
  width: 40vw;
  }
}

@media screen and (max-width: 550px) {
  .welcome-section{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 0 20px;
    justify-items: center;
  }
  .login-container {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: 7;
  justify-items: center;
  width: 50vw;
  }
}
